/* General Body Styles */
body {
    background-color: #fff; 
    color: #212529; 
    margin: 0;
    font-family: arial;
    padding: 0px;
    font-size: 14px;
    padding-bottom: 20px;
}

p {
    color: #000; 
    font-family: arial;
    font-size: 15px;
    text-align: center;
}

a {
    color: #fff; 
    text-decoration: none;
    transition: none; 
}

a:hover {
    background-color: none;
    text-decoration: underline;
}

h1 {
    margin: 0; 
    font-size: 21px;
    font-family: arial;
}

h2 {
    margin: 0px; 
    font-size: 21px;
    font-family: arial;
    font-weight: normal;
    color: gray;
}

/* Navigation Bar Styles */
.UnderlineNav {
    background-color: white; 
    overflow: hidden;
    padding: 20px;
}

.UnderlineNav-body {
    display: flex;
    justify-content: center; 
    padding: 0;
}

.UnderlineNav-item {
    display: block;
    padding: 5px 10px;
    color: #fff; 
    border-radius: 0px;
    background-color: #000; 
    text-decoration: none;
    border-radius: 2px;
    font-size: 20px; 
    font-weight: bold; 
    margin: 10px; 
    letter-spacing: .04rem;
}

.UnderlineNav-item:last-child {
    margin-right: 0;

}

.UnderlineNav a {
    background-color: none;
}
.UnderlineNav a:hover {
    color: red;
    text-decoration: none;
}


#cesiumContainer {
    padding: 0px 0px 0px 0px;
    max-width: 70%;
    height: 700px;
    margin: 40px auto;
    background-color: white;
}

.cesium-viewer .cesium-geocoder-input,
.cesium-viewer .cesium-geocoder-input:focus {
    color: black !important; 
    background-color: #ffffff91 !important; 
    border: 0px solid black !important; 
}

.cesium-geocoder-searchButton {
    background-color: #f9f9f900;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 32px;
    top: 1px;
    right: 1px;
    height: 30px;
    vertical-align: middle;
    fill: #000000;
    border: none;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: static;
    bottom: auto;
    left: auto;
    padding-right: 0;
    color: #fff;
    font-size: 0px;
    text-shadow: 0 0 0px #000;
}

.cesium-viewer-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    height: 0px;
    left: 0;
    padding-right: 0px;
    
}

element.style {
}
.cesium-sceneModePicker-wrapper .cesium-sceneModePicker-button2D, .cesium-sceneModePicker-wrapper .cesium-sceneModePicker-button3D, .cesium-sceneModePicker-wrapper .cesium-sceneModePicker-buttonColumbusView {
    margin: 0 0 3px 0;
}
.cesium-toolbar-button {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    padding: 0;
    vertical-align: middle;
    z-index: 0;
}
.cesium-button {
    display: inline-block;
    position: relative;
    background: #ffffff8f;
    border: 0px solid #444;
    color: #edffff;
    fill: #000000;
    border-radius: 1px;
    padding: 5px 12px;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cesium-viewer {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    border: 2px black solid;
    border-radius: 2px;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Button Styles */
.toggleButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 15px; /* Padding */
    margin: 10px 5px; /* Margin */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}

/* Info Box Styles */
#infoBox {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    max-width: 300px; /* Maximum width */
    border: 1px solid #ddd; /* Light grey border */
    font-size: 14px; /* Font size */
}


/* Styles for mobile devices */
@media screen and (max-width: 85%) {


.image-containerone img, .image-containertwo img {
    width: 100%; /* Full width images */
    height: auto; /* Maintain aspect ratio */
}


