/* General Body Styles */
body {
    background-color: #fff; 
    color: #212529; 
    margin: 0;
    font-family: arial;
    padding: 0px;
    font-size: 14px;
    padding-bottom: 20px;
}

p {
    color: #000; 
    font-family: arial;
    font-size: 15px;
    text-align: center;
}

a {
    color: #fff; 
    text-decoration: none;
    transition: none; 
}

a:hover {
    background-color: none;
    text-decoration: underline;
}

h1 {
    margin: 0; 
    font-size: 21px;
    font-family: arial;
}


h2 {
    margin: 0px; 
    font-size: 21px;
    font-family: arial;
    font-weight: normal;
    color: gray;
}

/* Navigation Bar Styles */
.UnderlineNav {
    background-color: white; 
    overflow: hidden;
    padding: 20px;
}

.UnderlineNav-body {
    display: flex;
    justify-content: center; 
    padding: 0;
}

.UnderlineNav-item {
    display: block;
    padding: 5px 10px;
    color: #fff; 
    border-radius: 0px;
    background-color: #000; 
    text-decoration: none;
    border-radius: 2px;
    font-size: 20px; 
    font-weight: bold; 
    margin: 0px; 
    letter-spacing: .04rem;
}

.UnderlineNav-item:last-child {
    margin-right: 0;

}

.UnderlineNav a {
    background-color: none;
}
.UnderlineNav a:hover {
    color: none;
    text-decoration: none;
}


#cesiumContainer {
    position: relative; /* This makes it a reference for absolutely positioned child elements */
    /* ... other styles ... */
    padding: 0px 0px 0px 0px;
    max-width: 70%;
    height: 700px;
    margin: 40px auto;
    background-color: white;
}

.cesium-viewer .cesium-geocoder-input,
.cesium-viewer .cesium-geocoder-input:focus {
    color: black !important; 
    background-color: #ffffff91 !important; 
    border: 0px solid black !important; 
    width: 45px;
}

.cesium-viewer .cesium-geocoder-input:hover {
    color: black !important; 
    background-color: #ffffff91 !important; 
    border: 0px solid black !important; 
    width: 45px;
}

.cesium-button:hover {
    color: #fff;
    fill: #fff;
    background: none;
    border-color: none;
    box-shadow: 0 0 0px #fff
}

.cesium-viewer-geocoderContainer .cesium-button:hover {
    background: none;
    border-color: none;
    box-shadow: none;
    color: #edffff;
    fill: #edffff;
}
.cesium-geocoder-searchButton:hover {
    background-color: none;
}

.cesium-viewer-geocoderContainer .search-results ul li.active {
    background:none;
}

.cesium-geocoder-searchButton:hover {
    background-color:none
}

.cesium-geocoder-searchButton {
    background-color: #f9f9f900;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 52px;
    top: 1px;
    right: 1px;
    height: 30px;
    vertical-align: middle;
    fill: #000000;
    border: none;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: static;
    bottom: auto;
    left: auto;
    padding-right: 0;
    color: #fff;
    font-size: 0px;
    text-shadow: 0 0 0px #000;
}

.cesium-viewer-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    height: 0px;
    left: 0;
    padding-right: 0px;
    
}

element.style {
}

.cesium-sceneModePicker-wrapper .cesium-sceneModePicker-button2D, .cesium-sceneModePicker-wrapper .cesium-sceneModePicker-button3D, .cesium-sceneModePicker-wrapper .cesium-sceneModePicker-buttonColumbusView {
    margin: 0 0 3px 0;
}
.cesium-toolbar-button {
    box-sizing: border-box;
    width: 52px;
    height: 32px;
    border-radius: 1px;
    padding: 0;
    vertical-align: middle;
    z-index: 0;
}
.cesium-button {
    display: inline-block;
    position: relative;
    background: #ffffff8f;
    border: 0px solid #444;
    color: #edffff;
    fill: #000000;
    border-radius: 1px;
    padding: 5px 12px;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cesium-viewer {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    border: 1px black solid;
    border-radius: 2px;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Button Styles */
.controls-container button {
    background-color: #bfbfbf; /* Green background */
    color: black; /* White text */
    padding: 10px 15px; /* Padding */
    margin: 10px 5px; /* Margin */
    border: 1px black solid; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 2px; /* Rounded corners */
    font-size: 16px; /* Font size */
}

.controls-container button:hover {
    background-color: none; /* Darker shade of green on hover */
}

.controls-container button:active {
    background-color: none; /* Even darker shade when the button is clicked */
}

#infoBox {
    position: absolute; /* This takes it out of the normal document flow */
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    top: 0; /* Aligns the top edge with the top of the container */
    left: 0; /* Aligns the left edge with the left of the container */
    color: black;
    z-index: 1000; /* Higher than other elements */
    width: auto; /* You can set a max-width if necessary */
    /* ... other styles ... */
    padding: 5px;
    bac
}


.controls-container {
    text-align: center; /* Center the content */
    margin: 20px auto; /* Provide some space below the navigation bar */
    width: 70%;
}

.cesium-button:hover {
    color: #000;
    fill: #000;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    border-color: #fff;
    box-shadow: 0 0 0px #fff
}

.cesium-button:active {
    color: #000;
    fill: #000;
    background: #none;
    border-color: #fff;
    box-shadow: 0 0 0px #fff
}

.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input {
    border-color: none;
    box-shadow: 0 0 0px #fff
}

.cesium-geocoder-searchButton:hover {
    background-color: none; /* 50% transparent white */
}

.cesium-geocoder-searchButton:hover {
    background-color: none;
}


.cesium-viewer-geocoderContainer {
    position: relative;
    display: inline-block;
    margin: 0px;
}

#loadingOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.75); /* Slightly darker background for better visibility */
    padding: 20px;
    border-radius: 5px;
    z-index: 10000; /* High z-index to ensure it's on top */
    display: none; /* Start hidden until tiles are loading */
}

span.cesium-sceneModePicker-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 0px
}


.cesium-baseLayerPicker-selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none
}

.cesium-baseLayerPicker-dropDown {
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: auto;
    right: 0;
    width: 320px;
    max-height: 500px;
    margin-top: 5px;
    background-color: rgba(38,38,38,.75);
    border: 1px solid #444;
    padding: 6px;
    overflow: auto;
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate(0,-20%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s,opacity .2s ease-in,transform .2s ease-in
}

.cesium-baseLayerPicker-dropDown-visible {
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease-out,transform .2s ease-out
}

.cesium-baseLayerPicker-sectionTitle {
    display: block;
    font-family: sans-serif;
    font-size: 16pt;
    text-align: left;
    color: #edffff;
    margin-bottom: 4px
}

.cesium-baseLayerPicker-choices {
    margin-bottom: 5px
}

.cesium-baseLayerPicker-categoryTitle {
    color: #edffff;
    font-size: 11pt
}

.cesium-baseLayerPicker-choices {
    display: block;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px 0
}

.cesium-baseLayerPicker-item {
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px;
    width: 64px;
    text-align: center;
    cursor: pointer
}

.cesium-baseLayerPicker-itemLabel {
    display: block;
    font-family: sans-serif;
    font-size: 8pt;
    text-align: center;
    vertical-align: middle;
    color: #edffff;
    cursor: pointer;
    word-wrap: break-word
}

.cesium-baseLayerPicker-item:focus .cesium-baseLayerPicker-itemLabel,.cesium-baseLayerPicker-item:hover .cesium-baseLayerPicker-itemLabel {
    text-decoration: underline
}

.cesium-baseLayerPicker-itemIcon {
    display: inline-block;
    position: relative;
    width: inherit;
    height: auto;
    background-size: 100% 100%;
    border: solid 1px #444;
    border-radius: 9px;
    color: #edffff;
    margin: 0;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box
}

.cesium-baseLayerPicker-item:hover .cesium-baseLayerPicker-itemIcon {
    border-color: #fff;
    box-shadow: 0 0 8px #fff,0 0 8px #fff
}

.cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemLabel {
    color: #bdecf8
}

.cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemIcon {
    border: double 4px #bdecf8
}


/* Styles for mobile devices */
@media screen and (max-width: 85%) {


.image-containerone img, .image-containertwo img {
    width: 100%; /* Full width images */
    height: auto; /* Maintain aspect ratio */
}


