
body {
    color: #000;
    background: #fff;
    font-family: Arial, sans-serif;
    overflow: visible;
    width: 100%;
    height: 100%;
}

a:link { text-decoration: none; pointer-events: auto; }
a:visited { color: black;}
a:hover { border-bottom: 2px solid color; }
a:active { color: black}

/* Apply pointer-events: none; to overlays to let clicks pass through */
.boxes-container, .third-row, .fourth-row {
    pointer-events: none;
}

h3 {
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    margin: 0px;
}

/* Re-enable pointer events for interactive elements within overlays */
.boxes-container a, .third-row a, .fourth-row a {
    pointer-events: auto;
}

.top-row {
    display: flex;
    position: relative;
    z-index: 20;
}

.top-box {
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 10px 30px 30px 30px;
}

.top-box a:link {color: black;}
.top-box a:hover {color: black; border-bottom: 2px solid black;}
.top-box a:active{color: black;}
.top-box a:visited {color: black;}


.container {
    width: 60%;
    margin: 0px auto;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.mapcontainer {
    background: white;
    border: 2px solid black;
    margin: 0px 100px;
    box-shadow: 12px 12px 2px rgba(8, 8, 8, 0.7); 
}

.containercolumn {
    vertical-align: top; /* Align columns to the top */
    display: inline-block;
    width: 30%;
}

.containerrow {
    display: inline-block; /* Display row inline */
    vertical-align: top; /* Align row to the top */
    width: 69.8%;
    border-left: 2px solid black;
}

.mapsection, .mapsectionleft, .mapsectionright, .nymapsection {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.mapsection {
    padding: 10px 0px;
    border-bottom: 2px solid black;
    background-color: white;
}
    
    .nymapsection {
        background-color: pink;
    }

.mapsectionleft {
    flex-direction: row; /* Stack items vertically */
    border-bottom: 2px solid black;
    padding: 20px 20px;
}

.mapsectionright {
    flex-direction: row; /* Stack items vertically */
}

.mapsection a:link {    color: black;}
.mapsection a:visited {color: black;}
.mapsection a:hover {border-bottom: 2px solid black;}
.mapsection:last-child {margin-bottom: 0;}
.mapsection:first-child {border-top: none;}
.mapsectionleft:first-child {border-top: none;}

.title, .bodytitle, .subtitle, .subbodytitle {
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    max-width: 600px;
    padding: 10px 20px;
    position: relative;
    display: block;
}

.title { background:none; }

.subtitle {
    font-size: 20px;
}

.subtitle a:link {}
.subtitle a:visited {}
.subtitle a:hover {background: red; }

.subbodytitle { background: none; }

.description {
        font-size: 20px;
        font-weight: 400;
        max-width: 60%;
        background: none;
        display: block;
        position: relative;
        text-align: center;
    }

.description a:link { color: black; }
.description a:visited { color: black; }
.description a:hover { border-bottom: 2px solid black; }

.notes {
    color: #000000;
    border-radius: 2px;
}

.notesdescription {
    font-size: 13px;
    color: #000000;
    border-radius: 2px;
    margin-top: 60px;
    margin-bottom: 30px;
    max-width: 600px;
}

.switch-label {
    display: inline-block;
    vertical-align: middle;
}

.switch {
    display: inline-block;
    vertical-align: middle;
}

.switch-input {
    display: none; 
}

.switch-track {
    width: 40px; 
    height: 20px; 
    background-color: #ccc; 
    border-radius: 20px; 
    position: relative;
}

.switch-thumb {
    width: 18px; 
    height: 18px; 
    background-color: #007BFF; 
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease; 
}

.switch-input:checked + .switch-track {
    background-color: #66c2ff;
}

.switch-input:checked + .switch-track .switch-thumb {
    left: 20px; 
}

.notesdescription a:link {color: grey; text-decoration: underlline}
    .notesdescription a:hover {}
        .notesdescription a:visited {color:black}


#cesiumContainer {
    width: 100%;
    height: 100%;
}

.cesium-viewer .cesium-geocoder-input,
.cesium-viewer .cesium-geocoder-input:focus,
.cesium-viewer .cesium-geocoder-input:hover {
    color: black;
    background-color: #ffffff91;
    border: 0 solid black;
    width: 45px;
}

.cesium-button,
.cesium-button:hover,
.cesium-button:active {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    fill: black;
    border: 0 solid #444;
    box-shadow: none;
}

.cesium-viewer-geocoderContainer .cesium-button:hover,
.cesium-viewer-geocoderContainer .cesium-geocoder-input:hover {
    color: #edffff;
    fill: #edffff;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: static;
    color: #fff;
    font-size: 0;
}
.cesium-viewer-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer {
    background-color: none; 
    color: #7c7c7c; 
    text-align: left; 
  }

.footer a {color: #888888; text-decoration: none;}
.footer a:hover {text-decoration: none; }

#map {
    height: 100vh;
    max-height: 600px;
    width: 100%; /* Set width to 100% */
}

.button {
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-right-radius: 2px;
    color: black;

}
.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: black;
}

.coords-box {
    background-color: rgba(255, 255, 255, 0.1); 
    color: rgb(0, 0, 0);
    padding: 10px; 
    border-radius: 5px; 
    top: 20px;
    right: 20px; 
    z-index: 2; 
}

/* Style the table */
#infoTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Style the table headers */
#infoTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Style the table rows */
#infoTable tr {
    border-bottom: 1px solid #ccc;
}

/* Style the table cells */
#infoTable td {
    padding: 10px;
}

/* Style alternate rows with a different background color */
#infoTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect for rows */
#infoTable tr:hover {
    background-color: #ddd;
}


#satelliteButton,
#openStreetMapButton {
    background-color: #0074e4; /* Set the background color */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Add some spacing between buttons */
    border-radius: 5px; /* Add rounded corners */
}

#satelliteButton:hover,
#openStreetMapButton:hover {
    background-color: #0059b3; /* Change color on hover */
}

/* Add or modify your existing styles as needed */

.custom-scale-bar {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
}

.cesium-viewer .cesium-geocoder-input,
.cesium-viewer .cesium-geocoder-input:focus,
.cesium-viewer .cesium-geocoder-input:hover {
    color: black;
    background-color: #ffffff91;
    border: 0 solid black;
    width: 45px;
}

.cesium-button,
.cesium-button:hover,
.cesium-button:active {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    fill: black;
    border: 0 solid #444;
    box-shadow: none;
}

.cesium-viewer-geocoderContainer .cesium-button:hover,
.cesium-viewer-geocoderContainer .cesium-geocoder-input:hover {
    color: #edffff;
    fill: #edffff;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: static;
    color: #fff;
    font-size: 0;
}

.cesium-viewer-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right:5px
}

.controls-container button {
    background-color: #bfbfbf;
    color: black;
    padding: 10px 15px;
    margin: 10px 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
}

.notesdescription ul {
    list-style-type: disc; /* Use disc bullets */
    margin-left: 20px; /* Adjust the margin to control the indentation */
}


.ticker-container {
    letter-spacing: 1px;
    font-style: oblique;
}

marquee {
    white-space: nowrap;
    overflow: hidden;
}

