body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #ffffff;
    color: rgb(0, 0, 0); 
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: none;
    background-color: #c8c8c8;
    text-decoration: underline;

  }

header {
    background-color: #ffffff;
    color: #1d1d1d;
    text-align: left;
    padding: 0px;
    margin: 0;
    height: 105.2px;
    border-bottom: solid 1px #000; 

}

header name {
    background-color: #ffffff;
    color: #1d1d1d;
    text-align: left;
    padding: 0px;
    margin: 0;
    height: 105.2px;
    border-bottom: solid 1px #000; 
}


.headertitle {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 20px;
    margin:0;
    padding: 0;
    font-weight: 800;
    line-height: 1;
}

.headertitle a {
    color:#000000;
}

.headertitle2 {
    font-family: Arial, Helvetica, sans-serif;
    color:#3f3f3f;
    font-size: 15px;
    font-weight: 800;
    margin: 0;
    line-height: 3; 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 20px;
    margin:0;
    padding: 0;
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:#3f3f3f;
    font-size: 15px;
    font-weight: 800;
    margin: 0;
    line-height: 3; 
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1;
}

h4 {
    font-family: Arial, Helvetica, sans-serif ;
    color:#000000;
    font-size: 15px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 12px;
    font-weight: 800;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #ffffff;
    color: #f90000;
    font-size: 12px;
    padding: 0px;
    text-align: left;
    position: fixed;
    height: 100%;
    width: 150px;
    margin: 0;
    overflow-y: auto;
    box-shadow: none;
    border-right: 1px #000 solid;
}

.navtext {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    text-align: Left;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:#790000;
    font-size: 45px;
    font-weight: 800;
}

nav menu {
    margin: 0; 
    padding: 0px;
    font-size: 20px;
    font-weight: 800;
    border-bottom: solid 1px #000;
}

nav submenu {
    margin: 0; 
    padding: 0px;
}

nav a {
    color: blue;
    text-decoration: none;
    display: block;
    padding: 0px;
    margin-bottom: 0px;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

nav .button {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: Left;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 15px;
    font-weight: 800;
}

nav .button.active {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: Left;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    font-size: 15px;
    background: #b5b5b5;
    font-weight: 800;

}

nav .button:hover {
    background-color: rgb(255, 199, 33);
}

main {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    margin-left: 150px;
    display: block;
    min-height: 100vh;
    justify-content: center;
    align-items: center; 
}

main img {
  display: block;
   margin: auto;
   width: 48%;
   height: auto;
 }

main.home {
    padding: 20px;
    margin: 0px;
    background-color: #000000;
    margin-left: 150px;
    display: block;
    min-height: 100vh;
    justify-content: center;
    align-items: center; 
  }
  
  .home img {
    display: block;
     margin: auto;
     width: 48%;
     height: auto;
   }
  
   .print {
    padding: 20px;
    margin: 0px;
    background-color: #fff;
    margin-left: 0px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center; 
  }
  
  .print img {
    display: block;
     margin: auto;
     width: 100%;
     height: auto;
   }

   .content {
    padding: 10px;
    padding-left: 15px;
    margin: 0px;
    background-color: #ffffff;
    font-size: 15px;

}

.center {
    padding: 10px;
    margin: 0px;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #000000;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.grid img {
    width: 100%;
    height: auto;
}


footer {
    background-color: transparent;
    color: #000000;
    text-align: Left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 10px;
    padding-top: 20px; 
    bottom: 0;
    position: absolute;
}




/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    nav {
        display: block;
        width: 100%;
        position: static;
        height: auto;
        box-shadow: none;
    }

    nav a {
        margin-bottom: 0px;
    }

    main {
        margin-left: 0;
    }
}