body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    color: #000000;
    font-family: Arial, sans-serif;
}

p {
    color: #000; /* Default text color */
    font-family: arial;
    font-size: 15px;
}

a {
}

a:hover {
}

/* General h1 and h2 Styles */
h1 {
    font-size: 21px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #fff;
    z-index: 2000; /* Ensures sidebar is above main-content */
    position: fixed; /* Fixed position to keep sidebar in view */
    height: 100vh; /* Full viewport height */
    border-right: 1px solid grey; 
}

.main-content {
    flex-grow: 1;
    display: flex; /* Establish a flex container */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin-left: 200px; /* Adjust to match the width of your sidebar */
}

/* Navigation Bar Styles */
.mainnav-item,
.mainnavsub-item {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.04rem;
}

/* Hover effects for all navigation links */
.mainnav-item:hover,
 {
    background-color: gray; 
}


/* Adjust the font size for sub-items if they should be smaller than main items */
.mainnavsub-item {
    font-size: 17px; /* Sub-items size */
    color: rgb(0, 0, 0);
    font-weight: normal; 
}


.container {
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    margin: 40px 20px;
}

.container a {
}

.container a:hover {
  background-color: none;
}



/* Button Styles */
button {
    color: #000; /* Text color for buttons */
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border: none; /* No border for a flat design */
    cursor: pointer; /* Cursor changes to pointer to indicate button */
    font-weight: bold;
    font-size: 13px; /* Font size for text inside buttons */
    font-family: 'Arial', sans-serif; /* Font family for text inside buttons */
    text-transform: uppercase; /* Capitalize all text inside buttons */
    letter-spacing: 0.04rem; /* Spacing between letters inside buttons */
    transition: background-color 0.3s ease; /* Smooth background color transition for hover effect */
}

.layer-button {
    background-color: #ffffff; /* Background color for buttons */
    color: #000; /* Text color for buttons */
    width: 100%;
    margin: 0px; 
    border-bottom: 1px solid black;
    height: 100%;
    cursor: pointer; /* Cursor changes to pointer to indicate button */
    font-weight: bold;
    font-size: 14px; /* Font size for text inside buttons */
    font-family: 'Arial', sans-serif; /* Font family for text inside buttons */
    text-transform: uppercase; /* Capitalize all text inside buttons */
    letter-spacing: 0.09rem; /* Spacing between letters inside buttons */
    transition: background-color 0.3s ease; /* Smooth background color transition for hover effect */
}

/* Button hover state */
button:hover {
    background-color: #5e5e5e; /* Slightly darker background on hover */
}

/* Button active state (optional) */
button:active {
    background-color: #888; /* Even darker background to indicate active/clicked state */
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack children (buttons) vertically */
    align-items: center; /* Center buttons horizontally */
    justify-content: center; /* Align buttons to the start of the container vertically */
}

.layer-button-container {
    display: flex;
    flex-direction: column; /* Stack children (buttons) vertically */
    align-items: center; /* Center buttons horizontally */
    justify-content: center; /* Align buttons to the start of the container vertically */
    border: 1px solid black;
}


#search-container {
    text-align: center; /* Center the search container */
    padding: 10px; /* Add some padding around the search box */
}

.controls-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin: 10px; */
    /* margin-right: 30px; */
}

.controls-container > .map-legend, 
.controls-container > .button-container, 
.controls-container > #hover-info, 
.controls-container > .layer-button-container {
    margin: 10px; /* Adjust as needed */
}

/* Other styles remain the same */


.map-legend, .button-container, #hover-info, .layer-button-container {
    margin: 0px;
    flex-grow: 1;

}

.controls {
    width: 300px; /* Set the width of the search box */
    height: 25px; /* Set the height of the search box */
    padding: 5px; /* Add some padding inside the search box */
    margin-bottom: 10px; /* Add some space below the search box */
}

/* Custom styles for the country tooltip */
.country-tooltip {
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    border: 1px solid #333; /* Dark border */
    border-radius: 2px; /* Rounded corners */
    color: #fff; /* White text color */
    font-size: 14px; /* Font size */
    padding: 2px; /* Padding inside the tooltip */
    box-shadow: 0 3px 14px rgba(0,0,0,0.4); /* Subtle shadow for depth */
}

/* Add this to your CSS file */
#hover-info {
    display: flex; /* Enables flexbox */
    width: 200px; /* Fixed width, adjust as needed */
    color: black; 
    font-weight: bold;
    line-height: 1.5; 
    letter-spacing: 0.04rem; /* Spacing between letters inside buttons */
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

#mapid {
    width: calc(100% - 20px); /* Subtract the total horizontal margin from 100% width */    height: 90vh; /* Or any other height you prefer */
    border: 1px solid black;
    margin-top: 10px;
    background: black;
}

.map-legend {
border: 1px solid black;
    z-index: 1000;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add some space between items */
}
  
.legend-item img {
    width: 24px; /* Size of marker icon */
    height: auto;
    margin-right: 8px; /* Spacing between icon and text */
}

.legend-item span {
    font-size: 15px;
}

.popup-content img {
    width: 100px; /* Set your desired width */
    height: auto;
    display: block;
    margin-bottom: 5px;
}

.popup-content p {
    margin: 0; /* Remove default margin */
    font-size: 14px;
    text-align: center;
}

@keyframes pulsate {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
.pulsating-marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px; /* Add space between marker and text */
    animation: pulsate 1s ease-out infinite;
}
  

  .pulsating-marker.red {
    background: red;
  }
  
  .pulsating-marker.green {
    background: green;
  }
  
  .pulsating-marker.violet {
    background: violet;
  }
  
  .pulsating-marker.yellow {
    background: yellow;
  }
  
/* Styles for mobile devices */
@media screen and (max-width: 768px) {


