/* General Body Styles */
body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh; /* Viewport height */
    background-color: #fff;
    color: #212529;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

p {
    color: #000; /* Default text color */
    font-family: arial;
    font-size: 15px;
}

a {

}

a:hover {
    text-decoration: underline;
}

/* General h1 and h2 Styles */
h1 {
    font-size: 21px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    color: black;
    border-right: 1px solid black;
    z-index: 1000; /* Ensure sidebar is above other content */
}

.main-content {
    margin-left: 200px; /* Same as the sidebar width */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar Styles */
.mainnav {
    overflow: hidden;
}

.mainnav a {
    background-color: none;
}

.mainnav a:hover {
    color: grey;
    text-decoration: none;
}

.mainnav-item {
    display: block;
    padding: 5px 10px; /* Padding for the button */
    color: #fff; /* Text color set to black */
    border-radius: 0px;
    background-color: #000; /* Background color set to grey */
    text-decoration: none;
    font-size: 20px; /* Font size set to 15px */
    font-weight: bold; /* Font weight set to normal */
    letter-spacing: .04rem;
}

.mainnavsub-item {
    display: block;
    padding: 4px 8px; /* Padding for the button */
    color: #fff; /* Text color set to black */
    border-radius: 0px;
    background-color: #000; /* Background color set to grey */
    text-decoration: none;
    font-size: 17px; /* Font size set to 15px */
    font-weight: bold; /* Font weight set to normal */
    margin: 10px; /* Adjust margins as needed */
    letter-spacing: .04rem;
}
    
/* Main Content Styles */
.container {
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    margin: 40px 20px;
    background-color: white;
}

.container a {
}

.container a:hover {
  background-color: none;
}


#mapid {
    height: 500px; /* Set to desired value */
    flex-grow: 1;
}

.map {
    height: 600px;
    width: 100%;
  }

  #map {
    height: 600px;
    width: 100%;
    border: solid 1px black;
}


/* Button Styles */
button {
    background-color: #bfbfbf; /* Black background */
    color: #000; /* White text */
    border: none; /* No border */
    padding: 5px 10px; /* Top/bottom padding 10px, left/right padding 20px */
    margin: 10px 5px; /* Margin 10px top and bottom, 0 left and right */
    cursor: pointer; /* Cursor to indicate clickable */
    font-size: 13px; /* Text size */
    font-family: 'Arial', sans-serif; /* Font family */
    font-weight: normal; /* Font weight */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: .02rem;
    border-radius: 2px; /* Rounded corners */
}

button:hover {
}

button:active {
}

.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    flex-wrap: wrap; /* Wrap buttons to next line if container width is too small */
    margin: 20px 0; /* Vertical spacing */
}

.button-container button {
    margin: 0 5px; /* Spacing between buttons */
    /* The rest of your button styling here */
}

/* Add this to your CSS file */
#hover-info {
    background-color: none;
    color: black; 
    font-weight: bold;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    height: 290px;
    max-width: 60%; /* Adjust as needed */
    padding: 20px; /* Your desired padding */
    line-height: 1.2;
    letter-spacing: .02rem;
    margin: 10px auto;
}


.map-legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Spacing between legend and map */
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Spacing between legend items */
}

.legend-item img {
    width: 24px; /* Size of the marker icon */
    height: auto;
    margin-right: 8px; /* Spacing between icon and text */
}

.legend-item span {
    font-size: 15px;
    font-weight: bold; 
    color: #333; /* Text color */
}

.popup-content img {
    width: 100px; /* Set your desired width */
    height: auto;
    display: block;
    margin-bottom: 5px;
}

.popup-content p {
    margin: 0; /* Remove default margin */
    font-size: 14px;
    text-align: center;
}


/* Styles for mobile devices */
@media screen and (max-width: 768px) {
