/* Custom Stylesheet for HTML Page with GitHub Primer CSS */

/* General Body Styles */
body {
    background-color: #fff; /* White background for the body */
    color: #212529; /* Default text color */
    margin: 0;
    font-family: arial;
    padding: 0px;
    font-size: 14px;
    padding-bottom: 20px;
}

p {
    color: #000; /* Default text color */
    font-family: arial;
    font-size: 14px;
  text-align: center;
}

a {
    color: #000; /* Standard link color - change as needed */
    text-decoration: none; /* Removes underline from links */
    transition: none; /* Smooth color transition for hover */
}

a:hover {
    background-color: none;
    text-decoration: none;
}

/* Header Content Styles */
.header-content {
    margin: 10px 20px; /* Add 15px margin to the header content */
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Align items vertically in the center */

}

/* General h1 and h2 Styles */
h1 {
    margin: 0; /* Margin for h1 */
    font-size: 21px;
    font-family: arial;
}

h2 {
    margin: 0px; /* Margin for h2 */
    font-size: 21px;
    font-family: arial;
    font-weight: normal;
    color: gray;
}

h3 {
    margin: 0px; /* Margin for h2 */
    font-size: 18px;
    font-family: arial;
    font-weight: normal;
    color: gray;
}

.bold-text {
    font-weight: bold; /* Makes text bold */
}

.light-text {
    font-weight: 300; /* Makes text lighter */
}

/* Navigation Bar Styles */
.UnderlineNav {
    background-color: white; /* Background color set to white */
    overflow: hidden;
    padding: 20px;
}

.UnderlineNav-body {
    display: flex;
    justify-content: center; /* Center the navigation items */
    padding: 0;
}

.UnderlineNav-item {
    display: block;
    padding: 5px 10px; /* Padding for the button */
    color: #fff; /* Text color set to black */
    border-radius: 0px;
    background-color: #000; /* Background color set to grey */
    text-decoration: none;
    border-radius: 2px;
    font-size: 17px; /* Font size set to 15px */
    font-family: 'Consolas', monospace; /* Font family */
    font-weight: bold; /* Font weight set to normal */
    margin: 10px; /* Adjust margins as needed */
}

.UnderlineNav-item:last-child {
    margin-right: 0; /* No margin for the last item */

}

.UnderlineNav a {
    background-color: none;
}
.UnderlineNav a:hover {
    color: red;
}


    
/* Main Content Styles */
.container-lg {
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    margin: 40px 20px;
    background-color: white;
}


.containertext-lg {
    padding: 10px;
    max-width: 58.8%; /* Adjust as needed */
    margin: 40px auto; /* Top and bottom margin 40px, left and right auto */
    font-size: 15px;
    line-height: 1.4;
    font-family: arial;
    text-align: left; /* Center align the text */
    background-color: #000;
    color: #fff;
}

.containertext-lg h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;
}

.containertext-lg a {
}

.containertext-lg a:hover {
  background-color: black;
}

.containertext-lg h2 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;


}

.containerimage-lg {
    padding: 0px 0px 0px 0px;
    max-width: 60%; /* Adjust as needed */
    margin: 40px auto; /* Top and bottom margin 40px, left and right auto */
    font-size: 15px;
    line-height: 1.4;
    font-family: arial;
    text-align: left; /* Center align the text */
    background-color: white;
}

/* Styles for larger screens */
.image-gridtwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 60px; /* Space between items */
    justify-content: center; /* Center the grid */
    width: 60%; /* Adjust the width of the grid */
    margin: 0 auto; /* Center the grid in the page with automatic margins */
}

.image-containertwo {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    overflow: hidden;
}

.image-containertwo img {
    max-width: 100%;
    max-height: 100%;
    /* Removed object-fit: cover; */
}

.image-gridone {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Two columns of equal width */
    gap: 30px 80px; /* 10px row gap, 20px column gap */
    justify-content: center; /* Center the grid */
    width: 60%; /* Adjust the width of the grid */
    margin: 0 auto; /* Center the grid in the page with automatic margins */
}

.image-containerone {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    overflow: hidden;
}

.image-containerone img {
    max-width: 100%;
    max-height: 100%;
    /* Removed object-fit: cover; */
}

.image-caption {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 5px; /* Space between image and caption */
}

.image-captiontitle {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 5px; /* Space between image and caption */
}


.imagetitle {
    font-family: arial; 
    font-size: 15px;
}


.country {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 0.5;
}

/* Footer Styles */
.footer {
    background-color: #fff;
    color: black;
    text-align: left;
    padding: 0px;
    width: 100%;
    margin: 0; /* Removed the margin */
    font-size: 12px;
}

.footer p {
    margin: 20px;
    font-size: 12px;
    font-family: arial; 
}

#mapid {
    height: 500px;
 background-color: white;
 border: solid 1px black;
}


/* Styles for mobile devices */
@media screen and (max-width: 768px) {
    .image-gridone, .image-gridtwo {
        grid-template-columns: 1fr; /* Collapse to one column */
        gap: 10px; /* Smaller gap for mobile */
        width: 80%; /* Adjust width for smaller screens */
    }

    .image-containerone img, .image-containertwo img {
        width: 100%; /* Full width images */
        height: auto; /* Maintain aspect ratio */
    }
}
