

body {
    background-color: #e3e3e3;
    color: #070707;
}

.top-box {
    font-size: 20px; 
    margin-right: 60px; 
    text-align: left;
    color: #000000;
    z-index: 3; 
    text-shadow: none;
    background: none;

}

.top-box a:link {
    color: #000;
}

.top-box a:hover {
    color: #000;
    border-bottom: 2px solid black;
}

.top-box a:active {
    color: #000;
}

#map {
    width: 100%; 
    height: 80vh;
    border: 0px solid #000000;
    border-radius: 8px;
    margin: 0px; 
}å

.first-button-row {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
}

.second-button-row {
    display: flex;
    justify-content: left; 
    margin-top: 0px;
    margin-top: 20px;
    margin-left: 20px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.primary-button {
    background-color: #007bff; 
    color: #fff; 
}

.secondary-button {
    background-color: #6c757d; 
    color: #fff;
}

.success-button {
    background-color: #28a745; /* Green color for success button */
    color: #fff; /* White text color */
}

/* Danger button style */
.danger-button {
    background-color: #dc3545; /* Red color for danger button */
    color: #fff; /* White text color */
}