

body {
    background-color: #e3e3e3;
    color: #070707;
    overflow: visible;

}

.top-box {
    font-size: 20px; 
    margin-right: 60px; 
    text-align: left;
    color: #000000;
    z-index: 3; 
    text-shadow: none;
    background: none;
}

.top-box a:link {
    color: #000;
}

.top-box a:hover {
    color: #000;
    border-bottom: 2px solid black;
}

.top-box a:active {
    color: #000;
}

.top-box a:visited {
    color: #161616;
}


#map {
    width: 100%; 
    height: 100%;
    border: 0px solid #000000;
    border-radius: 8px;
    margin: 0px; 
}

.first-button-row {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
}

.second-button-row {
    display: flex;
    justify-content: left; 
    margin-top: 0px;
    margin-top: 20px;
    margin-left: 20px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.primary-button {
    background-color: #007bff; 
    color: #fff; 
}

.secondary-button {
    background-color: #6c757d; 
    color: #fff;
}

.success-button {
    background-color: #28a745; /* Green color for success button */
    color: #fff; /* White text color */
}

/* Danger button style */
.danger-button {
    background-color: #dc3545; /* Red color for danger button */
    color: #fff; /* White text color */
}


.two-column-containermap {
    display: flex;
    border-radius: 2px;
    width: 100%;
    background: rgba(243, 243, 243, 0.91);
    border: 2px solid black;
    box-shadow: 12px 12px 2px rgba(8, 8, 8, 0.7);

}

.column-1blankmap {
    background: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    width: 40vh;

}

.column-2blankmap {
    flex: 1;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: 60vh;
}

.mapsection {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    background: rgba(243, 243, 243, 0.91);
    padding: 20px;
    max-width: 600px;
    line-height: 1.4;
    border-radius: 2px;
    display: block;
    position: relative;
    z-index: 4;
    border-top: 2px solid rgba(0, 0, 0, 0.91);
}

.mapsection a:link {
    color: black;
}

.mapsection a:visited {
    color: black;
}

.mapsection a:hover {
    border-bottom: 2px solid black;
}

.mapsection:last-child {
    margin-bottom: 0;
}

.mapsection:first-child {
border-top: none;
}




.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: black;

}
.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: black;

}