

body {
    background-color: #e3e3e3;
    color: #070707;
}

.top-box {
    font-size: 20px; 
    margin-right: 60px; 
    text-align: left;
    color: #000000;
    z-index: 3; 
    text-shadow: none;
    background: none;

}

.top-box a:link {
    color: #000;
}

.top-box a:hover {
    color: #000;
    border-bottom: 2px solid black;
}

.top-box a:active {
    color: #000;
}


.coords-box {
    background-color: rgba(255, 255, 255, 0.1); /* Background color with transparency */
    color: white; /* Text color */
    padding: 10px; /* Add padding to the box */
    border-radius: 5px; /* Rounded corners */
    position: absolute; /* Position the box absolutely within its parent */
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the right position */
    z-index: 2; /* Ensure it's above other elements */
}

/* Style the table */
#infoTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Style the table headers */
#infoTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Style the table rows */
#infoTable tr {
    border-bottom: 1px solid #ccc;
}

/* Style the table cells */
#infoTable td {
    padding: 10px;
}

/* Style alternate rows with a different background color */
#infoTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect for rows */
#infoTable tr:hover {
    background-color: #ddd;
}

/* Apply styles to the background */
.background {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Center and add margins to the Cesium container */
.centered-container {
    width: 100%;
    /* max-width: 1200px; */
    height: 85vh;
    border: 1px solid #f2e4e4;
    margin: 0 100px;
    position: relative;

}


#satelliteButton,
#openStreetMapButton {
    background-color: #0074e4; /* Set the background color */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Add some spacing between buttons */
    border-radius: 5px; /* Add rounded corners */
}

#satelliteButton:hover,
#openStreetMapButton:hover {
    background-color: #0059b3; /* Change color on hover */
}

/* Add or modify your existing styles as needed */

.custom-scale-bar {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
}

.cesium-viewer .cesium-geocoder-input,
.cesium-viewer .cesium-geocoder-input:focus,
.cesium-viewer .cesium-geocoder-input:hover {
    color: black;
    background-color: #ffffff91;
    border: 0 solid black;
    width: 45px;
}

.cesium-button,
.cesium-button:hover,
.cesium-button:active {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    fill: black;
    border: 0 solid #444;
    box-shadow: none;
}

.cesium-viewer-geocoderContainer .cesium-button:hover,
.cesium-viewer-geocoderContainer .cesium-geocoder-input:hover {
    color: #edffff;
    fill: #edffff;
}

.cesium-viewer .cesium-widget-credits {
    display: inline;
    position: static;
    color: #fff;
    font-size: 0;
}

.cesium-viewer-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right:5px
}

.controls-container button {
    background-color: #bfbfbf;
    color: black;
    padding: 10px 15px;
    margin: 10px 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
}

